.form-group .eventForm {
  text-align: left;
  margin-bottom: -5px;
  font-size: 35px;
  font-family: 'Lobster Two', cursive;
  clear: both;
}

#signup-column {
  margin-top: 40px;
  margin-bottom: 40px;
  height: auto;
  background-color: rgba(173, 204, 233, 0.753);
  border-radius: 20px;
  color: var(--color-darkBlue);
  font-size: 18px;
  padding: 20px 0 20px 0;
}

h2.newEvent  {
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
  color: #FFF;
  font-family: 'Lobster Two', cursive;
}

.rbc-row-content {
  z-index: 1 !important;
}

h2.myEvents  {
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
  font-family: 'Lobster Two', cursive;
  color: var(--color-darkBlue);
}

.container.App {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 0 30px 30px 30px;
}

h3.eventForm {
  font-size: 45px;
  text-align: center;
  align-content: center;
  font-family: 'Lobster Two', cursive;
  clear: both;
}

#signup-box h4 {
  font-size: 30px;
  font-family: 'Lobster Two', cursive;
  clear: both;
}

p.description {
  text-align: center;
}

p {
  color: var(--color-text);
}

#button-row.row.justify-content-center.align-items-center {
  clear: both;
}
 
.eventBtn.btn.btn-primary {
  margin-top: 30px;
}

.date {
  float:left;
  text-align: center;
}

.zip {
  float: left;
  text-align: center;
}

.creator {
  float:right;
  text-align: center
}