.background {
  background-image: url(../../assets/images/bgTop.jpg);
  /* background-size: cover; */
  overflow: hidden
} 

h4 {
  text-align: center;
  font-size: 22px;
}

.text-info {
  color: var(--color-darkBlue)!important;
}

#mainContainer h2 {
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
  color: #FFF;
  font-family: 'Lobster Two', cursive;
}

.react-autosuggest__input {
  width: 100%;
}

.btn.btn-primary {
  float: right;
  font-family: 'raleway', 'sans-serif';
  color: #fff;
  background-color:var(--color-darkBlue);
  border-color:var(--color-darkBlue);
  cursor: url(../../assets/images/cursors/select.cur), pointer;
  margin: 10px 0 0 10px;
}

 .btn.btn-primary:hover{
  background: var(--color-text);
  border-color: var(--color-text);
  cursor: url(../../assets/images/cursors/select.cur), pointer;
}

.row.justify-content-center.align-items-center {
  overflow: hidden;
}

#mainContainer h3 {
  font-size: 45px;
  text-align: center;
  align-content: center;
  font-family: 'Lobster Two', cursive;
  clear: both;
}

.form-group {
  align-content: center;
  margin: 15px;
  color: var(--color-darkBlue);
  font-family: 'raleway', 'sans-serif';
}

.form-control {
  font-family: 'raleway', 'sans-serif';
}

#signup .container #signup-row #signup-column #signup-box #signup-form #register-link {
  margin: 10px 5px 10px 5px;
  color: var(--color-darkBlue);
  font-size: 22px;
}

.submitBtn {
  float: right;
  margin-right: 15px;
}

.btn-info {
  color: #fff;
  background-color:var(--color-darkBlue);
  cursor: url(../../assets/images/cursors/select.cur), pointer;
}

.btn-info:hover{
  background: var(--color-text);
  cursor: url(../../assets/images/cursors/select.cur), pointer;
}
  
#signIn a {
  cursor: url(../../assets/images/cursors/select.cur), pointer;
  font-family: 'Lobster Two', cursive;
  color: var(--color-darkBlue) !important;
}

#signIn a:hover {
  color: var(--color-pink) !important;
  text-decoration: none;
}

#signIn {
  clear: both;
}

#signup-form #passwordHelp .form-text .text-muted{
  color: #fff !important;
}