:root {
	--color-lightBlue: #AECCE9;
	--color-darkBlue: #265C91;
	--color-pink: #F38072;
	--color-yellow: #F4D81E;
	--color-text: #13324C;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-darkBlue);
    cursor: url(../../assets/images/cursors/default.cur), default;
} 

h4 {
    text-align: center;
    font-size: 22px;
}

.text-info {
    color: var(--color-darkBlue)!important;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#signup {
  background-image: url(../../assets/images/bgTop.jpg);
  min-height: calc(100vh - 56px);
}

#signup .container #signup-row #signup-column #signup-box {
    margin-top: 20px;
    max-width: 600px;
    border: 1px solid #adcce9EA;
    background-color: #adcce9EA;
    color: var(--color-darkBlue);
    border-radius: 30px;
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
}

#signup h3 {
    font-size: 45px;
}

#signup .container #signup-row #signup-column #signup-box #signup-form {
    /* padding: 30px; */
    color: var(--color-darkBlue);
}

.form-group {
    align-content: center;
    margin: 15px;
    color: var(--color-darkBlue);
    font-family: Arial, Helvetica, sans-serif;
}

#signup .container #signup-row #signup-column #signup-box #signup-form #register-link {
    margin: 10px 5px 10px 5px;
    color: var(--color-darkBlue);
    font-size: 22px;
}

.submitBtn {
  color: var(--color-darkBlue);
  font-family: Arial, Helvetica, sans-serif;
    
}
.btn-info {
    color: #fff;
    background-color:var(--color-darkBlue);
    border-color: var(--color-darkBlue);
    cursor: url(../../assets/images/cursors/select.cur), pointer;
  }
  .btn-info:hover{
    background: var(--color-text);
    cursor: url(../../assets/images/cursors/select.cur), pointer;
  }
  
  #signIn a {
    cursor: url(../../assets/images/cursors/select.cur), pointer;
}

#signIn {
  clear: both;
}