:root {
	--color-lightBlue: #AECCE9;
	--color-darkBlue: #265C91;
	--color-pink: #F38072;
	--color-yellow: #F4D81E;
	--color-text: #13324C;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-darkBlue);
    cursor: url(../../assets/images/cursors/default.cur), default;
} 

.text-info {
    color: var(--color-text)!important;
    font-family: 'raleway', 'sans-serif';
}

#logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#login {
    background-image: url(../../assets/images/bgTop.jpg);
    background-size: cover;
    min-height: calc(100vh - 56px);
}

#login .container #login-row #login-column #login-box {
    margin-top: 60px;
    max-width: 600px;
    background-color: rgba(173, 204, 233, 0.753);
    border-radius: 20px;
    font-family: 'Lobster Two', cursive;
    color: var(--color-darkBlue);
    font-size: 18px;
    padding: 20px 0 20px 0;
}

#loginPassword, #loginUsername {
    width: 100%
}

#login h3 {
    font-size: 45px;
}

#login .container #login-row #login-column #login-box #login-form {
    /* padding: 1.5em; */
    color: var(--color-darkBlue);
}

.form-group {
    align-content: center;
    color: var(--color-darkBlue);
    font-family: Arial, Helvetica, sans-serif;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin: 10px 5px 10px 5px;
    color: var(--color-darkBlue);
    font-size: 22px;
}
.form-control {
    /* cursor: url(../images/cursors/text.cur), text; */
    font-family: 'raleway', 'sans-serif';
    width: 100%;
}

.submitBtn {
    color: var(--color-darkBlue);
    font-family: 'raleway', 'sans-serif';
}

.btn-info {
    color: #fff;
    background-color:var(--color-darkBlue);
    border-color: var(--color-darkBlue);
    cursor: url(../../assets/images/cursors/select.cur), pointer;
  }

.btn-info:hover{
    background: var(--color-text);
    cursor: url(../../assets/images/cursors/select.cur), pointer;
}
  
#signUp a {
    /* cursor: url(../images/cursors/select.cur), pointer; */
    cursor: url(../../assets/images/cursors/select.cur), pointer;
    color: var(--color-darkBlue);
}
#signUp a:hover {
    /* cursor: url(../images/cursors/select.cur), pointer; */
    cursor: url(../../assets/images/cursors/select.cur), pointer;
    color: var(--color-pink);
    text-decoration: none;
}

#signUp {
  clear: both;
}